* {
   padding:0;
   box-sizing: border-box;
   outline: 20px;
}

.wrapper{
   
   width: 960px;
   margin: 0 auto;
}

 body {
   background-color: black;
   transition: background-color .25s;

 }
 
 .title {
   color: white;
   font-size: 40px;
   float: left;
   padding: 10px;
   border: solid;
   box-shadow: 5px 10px gray;
   border-radius: 20px;   

}


.pi1 {
   float: left;
   font-size: 210px;
   background: linear-gradient(
      rgba(255,0,0,1) 0%,
       rgba(255,154,0,1) 10%,
        rgba(208,222,33,1) 20%,
         rgba(79,220,74,1) 30%,
          rgba(63,218,216,1) 40%,
           rgba(47,201,226,1) 50%,
            rgba(28,127,238,1) 60%,
             rgba(95,21,242,1) 70%,
              rgba(186,12,248,1) 80%,
               rgba(251,7,217,1) 90%,
                rgba(255,0,0,1) 100%) 
  0 0/100% 200%;
  animation: a 2s linear infinite;
  margin-top: -45px;
  margin-left: 30px;

}

@keyframes a {
 to {background-position:0 -200%}
}
  
.pi2{
   float: left;
   font-size: 210px;
   background: linear-gradient(
       rgba(255,0,0,1) 0%,
        rgba(255,154,0,1) 10%,
         rgba(208,222,33,1) 20%,
          rgba(79,220,74,1) 30%,
           rgba(63,218,216,1) 40%,
            rgba(47,201,226,1) 50%,
             rgba(28,127,238,1) 60%,
              rgba(95,21,242,1) 70%,
               rgba(186,12,248,1) 80%,
                rgba(251,7,217,1) 90%,
                 rgba(255,0,0,1) 100%) 
   0 0/100% 200%;
   animation: a 2s linear infinite;
   margin-top: -45px;
   margin-left: 30px;
 
}

@keyframes a {
  to {background-position:0 -200%}
}
   


.container2 {
   position: absolute;
   background-color:grey;
   left: 45%;
   top: 80%;
   height: 60px;
   width: 137px;

}

.character-counter {
   position: absolute;
   font-size: 52px;
   color:white;
   left: 14%;
   
}


.container {
   position: absolute;
   background-color:darkslategrey;
   left: 25%;
   top: 55%;
   height: 88px;
   width: 670px;

}

.input-field {
   position: absolute;
   top: 20%;
   left: 50%;

}

.input-field [type=text]{
   width: 611px;
   height: 60px;
   font-size: 40px;
   margin-left: -312px;
   margin-bottom: 10px;
   border: 0;
   border-bottom:2px solid gray;
   background: transparent;
   color: white;
}
